<main class="root__container">
  <header class="main__header">

    <div class="left__section">
      <h3>Weather</h3>
    </div>

    <h3 class="date__text">Today</h3>

    <div class="mode-toggle__container">
      <span class="mode-toggle__text">Light</span>

      <label class="toggle-button__container">
        <input (click)="modeToggleSwitch()" type="checkbox" class="mode-toggle__input" />
        <span [ngClass]="{'mode-toggle__bg-checked': darkModeActive}" class="mode-toggle__bg"></span>
        <span [ngClass]="{'mode-toggle__circle-checked': darkModeActive}" class="mode-toggle__circle"></span>
      </label>

      <span class="mode-toggle__text">Dark</span>
    </div>

  </header>

  <!-- Main Content -->

  <div class="main-container__bg">
    <router-outlet></router-outlet>
  </div>


</main>
